html,body {height: 100%;}
body {
    position: relative;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //min-width: 1000px;
    font-size: 14px;
}
h1, h2, h5, p {
  margin: 0;
  padding: 0;
}
* {box-sizing: border-box;}
ul,ol {margin: 0;padding-left: 0;list-style: none;}
p {margin: 0;}
a {text-decoration: none;color: #20a0ff;}
a:hover {color: #4db3ff;}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
}
#app {
    position: relative;
    color: #2c3e50;
    height: 100%;
    overflow: hidden;
}
